---
import MonkeyScene from "./MonkeyScene.jsx";
---

<div
  class="min-h-screen bg-linear-to-b from-yellow-100 to-orange-200 flex flex-col items-center justify-center"
>
  <MonkeyScene client:load />
</div>
