---
// src/pages/scene1.astro
import SceneLayout from "../layouts/SceneLayout.astro";
import MonkeyCard from "../components/MonkeyCard.jsx";
import { monkeyCount } from "../stores/monkeyStore";
---

<SceneLayout title="Scene 1: Five Little Monkeys">
  <p>Click a monkey to make it fall!</p>
  <MonkeyCard id={1} />
  <MonkeyCard id={2} />
  <MonkeyCard id={3} />
  <MonkeyCard id={4} />
  <MonkeyCard id={5} />
  <p>Monkeys left: <monkeyCount client:load></monkeyCount></p>
</SceneLayout>
